<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--레이아웃으로 작업시 레이아웃에만 head가 존재 다른 페이지는 head부분을 삭제-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!--작업 후 남겨야할 부분-->
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small bg-dark">
        <div class="footer-copyright text-center text-light py-3">
            2023 copyright Cream
        </div>
    </footer>
</div>
<!--작업 후 남겨야할 부분-->
</body>
</html>